{
	"plugins": ["@prettier/plugin-php"],
	"overrides": [
		{
			"files": ".prettierrc",
			"options": { "parser": "json" }
		}
	],
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"printWidth": 120,
	"braceStyle": "1tbs",
	"bracketSameLine": false
}
